/target/test-classes
/target/classes
/target/generated-sources
/target/generated-test-sources
/target/maven-archiver
/target/maven-status

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.env
hibernate.properties
